<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/login_styles.css">
</head>
<body>
<div class="full-screen-container">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/login_styles.css">
</head>
<body>
<div class="full-screen-container">

    <div class="profile-container">
        <div id="image">
            <img src="user.png">
        </div>

        <div id="name-email">
            <h1>{{Name}}</h1>
            <h5>{{Email}}</h5>
        </div>
        
        
    </div>
</div>
</body>
</html>
</div>
</body>
</html>