<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="/login_styles.css">
</head>
<body>
<div class="full-screen-container">

    <div class="login-container">
        <h1 class="login-title">Register</h1>
        <form class="form" action="/auth/register" method="POST"> 
            <div class="input-group success">
                <input type="text" name="name" id="name" placeholder="Name">
            </div>
            
            <div class="input-group success">
                <input type="email" name="email" id="email" placeholder="Email" required>
            </div>

            <div class="input-group error">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>

            <div class="input-group error">
                <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Confirm password">
            </div>
            <button class="login-button" type="submit">REGISTER</button>
                <a class="link-login-register" href="http://localhost:3000/">Login</a>
            {{#if message}}
                <div class="alert alert-danger mt-4">{{message}}</div>
            {{/if}}
        </form>


    </div>
</div>
</body>
</html>